.table {
  border-collapse: separate;
  border-spacing: 0 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.table caption {
  font-size: 16px;
  margin: 0.5rem 0 0.75rem;
}

th {
  color: #fff;
}

.table th,
.table td {
  padding: 14px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    padding: 0;
  }
}
